<div class="centering">
    <mat-card appearance="outlined">
        <mat-card-content>
            <app-field-controller></app-field-controller>
            <div style="overflow-x: scroll">
                <table style="margin-left: auto; margin-right: auto">
                    <tbody>
                        @for (row of manager.game!.field.tiles; track row[0].rowN) {
                            <tr>
                                @for (tile of row; track tile.colN) {
                                    <td>
                                        <app-field-tile [rowN]="tile.rowN" [colN]="tile.colN"></app-field-tile>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @if (manager.game!.selectedTile == null) {
                <ng-container i18n="@@app-field.no-tile-selected"
                    >No tile selected. Click on a tile to begin.</ng-container
                >
                <br />
            } @else {
                <app-tile-info
                    [rowN]="manager.game!.selectedTile[0]"
                    [colN]="manager.game!.selectedTile[1]"
                ></app-tile-info>
            }
            @if (manager.game!.saveData.freeze) {
                <button mat-button disabled>
                    <mat-icon fontIcon="ac_unit" />
                    <span i18n="@@app-field.freeze-message">Field frozen. Plants will not grow or mutate.</span>
                </button>
            } @else {
                <button mat-button>
                    <mat-icon fontIcon="refresh" />
                    <ng-container i18n="@@app-field.next-tick-in"
                        >Next tick in {{ timeToNextTick | time }}</ng-container
                    >
                </button>
            }
        </mat-card-content>
    </mat-card>
</div>
