<mat-toolbar>
    <button mat-icon-button [matMenuTriggerFor]="infoMenu">
        <mat-icon fontIcon="info" />
    </button>
    <mat-menu #infoMenu="matMenu">
        <span mat-menu-item i18n="@@app-header.description"
            >A recreation of Cookie Clicker's &quot;Garden&quot; minigame.</span
        >
        <a mat-menu-item href="https://github.com/MtCelesteMa/simplegarden/" target="_blank">
            <mat-icon fontIcon="code" />
            v0.3.0
        </a>
    </mat-menu>
    <span style="flex: 1 1 auto"></span>
    <span i18n="@@app-header.title">SimpleGarden</span>
    <span style="flex: 1 1 auto"></span>
    <button mat-icon-button [matMenuTriggerFor]="localeMenu" [disabled]="router.page != 'welcome'">
        <mat-icon fontIcon="translate" />
    </button>
    <mat-menu #localeMenu="matMenu">
        @for (locale of locales; track locale.id) {
            <a mat-menu-item href="{{ baseHref }}../{{ locale.id }}/">{{ locale.displayName }}</a>
        }
    </mat-menu>
</mat-toolbar>
