<div class="box centering">
    <button style="color: red" (click)="returnHome()" i18n="@@app-workbench-page.return-home">Return to Homepage</button>
    <br />
    <br />
    <button (click)="importDatapack()" i18n="@@app-workbench-page.import-datapack">Import Datapack</button>
    &nbsp;
    <button (click)="exportDatapack()" i18n="@@app-workbench-page.export-datapack">Export Datapack</button>
    @if (importFailed) {
        <br />
        <span style="color: red" i18n="@@app-workbench-page.import-failed">Import Failed</span>
    }
    <br />
    <span i18n="@@app-workbench-page.save-info">Unlike save data, datapacks are not saved to any long-term storage. Remember to export your work!</span>
    <br />
    <br />
    <span i18n="@@app-workbench-page.name">Datapack Name: </span>
    <input
        type="text"
        [formControl]="nameInput"
        [value]="wbService.dataPack.name"
        (change)="wbService.dataPack.name = nameInput.value!"
    />
    <br />
    <span i18n="@@app-workbench-page.author">Author Name: </span>
    <input
        type="text"
        [formControl]="authorInput"
        [value]="wbService.dataPack.author"
        (change)="wbService.dataPack.author = authorInput.value!"
    />
    <br />
    <span i18n="@@app-workbench-page.description">Description: </span>
    <br />
    <textarea
        [formControl]="descriptionInput"
        [value]="wbService.dataPack.description"
        (change)="wbService.dataPack.description = descriptionInput.value!"
        rows="10"
        cols="40"
    ></textarea>
</div>
