div.field-tile {
    background-color: brown;
    color: #009f00;
    height: 30px;
    width: 30px;
    margin: auto;
}

div.field-tile[selected] {
    border-color: #00ff00;
}

div.field-tile[mature] {
    color: #00ff00;
}

div.field-tile[manual] {
    text-decoration: underline;
}
