<div class="box seed-log-entry">
    @if (manager.game!.saveData.hardMode) {
        <h2>{{ cropInfo.displayName }} ({{ cropInfo.shortName }}) x{{ quantity }}</h2>
    } @else {
        <h2>{{ cropInfo.displayName }} ({{ cropInfo.shortName }})</h2>
    }
    {{ cropInfo.description }}
    <br />
    <br />
    <ng-container i18n="@@app-seed-log-entry.maturity"
        >Maturity: {{ cropInfo.maturity * manager.game!.saveData.tickRate | time }}</ng-container
    >
    <br />
    @if (cropInfo.lifespan == null) {
        <ng-container i18n="@@app-seed-log-entry.immortal">Immortal</ng-container>
    } @else {
        <ng-container i18n="@@app-seed-log-entry.lifespan"
            >Lifespan: {{ cropInfo.lifespan * manager.game!.saveData.tickRate | time }}</ng-container
        >
    }
    @if (cropInfo.infectionValue != null) {
        <br />
        <span style="color: red" i18n="@@app-seed-log-entry.infection">May infect nearby crops!</span>
    }
    <h3 i18n="@@app-seed-log-entry.mutations">Mutations</h3>
    <div class="mutations-infobox">
        <ul>
            @for (mutation of listMutations; track mutation[0]) {
                <li>{{ mutation[1] }}</li>
            }
        </ul>
    </div>
</div>
