<app-locale-selector></app-locale-selector>
<div class="centering">
    <mat-card appearance="outlined">
        <mat-card-content>
            @if (this.manager.saveIsValid()) {
                <button mat-stroked-button (click)="loadGame()">
                    <mat-icon fontIcon="play_arrow" />
                    <ng-container i18n="@@app-welcompe-page.continue-game">Continue Game</ng-container>
                </button>
                <br />
                <br />
                <button mat-stroked-button (click)="exportGame()">
                    <mat-icon fontIcon="download" />
                    <ng-container i18n="@@app-welcompe-page.export-game">Export Game</ng-container>
                </button>
                <br />
                <br />
                <button mat-stroked-button class="red" (click)="eraseGame()">
                    <mat-icon fontIcon="delete_forever" />
                    <ng-container i18n="@@app-welcompe-page.erase-game">Erase Game</ng-container>
                </button>
                <br />
                <br />
                <mat-divider />
                <br />
                <button mat-stroked-button (click)="openWorkbench()">
                    <mat-icon fontIcon="construction" />
                    <ng-container i18n="@@app-welcome-page.open-workbench">Open Workbench</ng-container>
                </button>
            } @else {
                <h2 i18n="@@app-welcome-page.welcome">Welcome!</h2>
                @if (this.manager.saveExists()) {
                    <mat-card appearance="outlined">
                        <mat-card-content>
                            <span style="color: red" i18n="@@app-welcome-page.corrupted-save-msg"
                                >Your save file was corrupted. Please start a new game.</span
                            >
                            <br />
                            <br />
                            <button mat-stroked-button (click)="exportGame()">
                                <mat-icon fontIcon="download" />
                                <ng-container i18n="@@app-welcompe-page.export-game">Export Game</ng-container>
                            </button>
                        </mat-card-content>
                    </mat-card>
                    <br />
                }
                <mat-card appearance="outlined">
                    <mat-card-content>
                        <mat-tab-group>
                            <mat-tab i18n-label="@@app-welcome-page.difficulty" label="Difficulty">
                                <app-difficulty-selector [(difficulty)]="difficulty" />
                            </mat-tab>
                            <mat-tab i18n-label="@@app-welcome-page.datapack" label="Datapack">
                                <app-datapack-selector [(datapack)]="datapack" />
                            </mat-tab>
                        </mat-tab-group>
                        <br />
                        <br />
                        <button mat-stroked-button (click)="newGame()">
                            <mat-icon fontIcon="play_arrow" />
                            <ng-container i18n="@@app-welcome-page.new-game">New Game</ng-container>
                        </button>
                    </mat-card-content>
                </mat-card>
                <br />
                <button mat-stroked-button (click)="importGame()">
                    <mat-icon fontIcon="upload" />
                    <ng-container i18n="@@app-welcome-page.import-game">Import Game</ng-container>
                </button>
                @if (gameImportFailed) {
                    <br />
                    <span style="color: red" i18n="@@app-welcome-page.import-failed">Import Failed</span>
                }
            }
            <br />
            <br />
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title i18n="@@app-welcome-page.persistence-options">Persistence Options</mat-panel-title>
                </mat-expansion-panel-header>
                <app-persistence-selector></app-persistence-selector>
            </mat-expansion-panel>
        </mat-card-content>
    </mat-card>
</div>
