<app-locale-selector></app-locale-selector>
@if (this.manager.saveIsValid()) {
    <div class="box centering">
        <button (click)="loadGame()" i18n="@@app-welcompe-page.continue-game">Continue Game</button>
        <br />
        <br />
        <button (click)="exportGame()" i18n="@@app-welcompe-page.export-game">Export Game</button>
        <br />
        <br />
        <button style="color: red" (click)="eraseGame()" i18n="@@app-welcompe-page.erase-game">Erase Game</button>
    </div>
} @else {
    <div class="box centering">
        @if (this.manager.saveExists()) {
            <span style="color: red" i18n="@@app-welcome-page.corrupted-save-msg">
                Your save file was corrupted. Please start a new game.
            </span>
            <br />
            <button (click)="exportGame()" i18n="@@app-welcompe-page.export-game">Export Game</button>
        }
        <h2 i18n="@@app-welcome-page.welcome">Welcome!</h2>
        <span style="font-weight: bold" i18n="@@app-welcome-page.difficulty">Difficulty</span>
        <br />
        <input type="radio" [formControl]="difficultySelect" value="normal" />
        <span i18n="@@app-welcome-page.normal-mode">Normal Mode</span>
        <br />
        <input type="radio" [formControl]="difficultySelect" value="hard" />
        <span style="color: red" i18n="@@app-welcome-page.hard-mode">Hard Mode</span>
        <br />
        <input type="radio" [formControl]="difficultySelect" value="brutal" />
        <span style="color: darkred" i18n="@@app-welcome-page.brutal-mode">Brutal Mode</span>
        <br />
        @if (difficultySelect.value! == "normal") {
            <span style="font-style: italic" i18n="@@app-welcome-page.normal-mode-desc"
                >The standard experience. Harvest mature unknown crops to permanently unlock them.</span
            >
        } @else if (difficultySelect.value! == "hard") {
            <span style="color: red; font-style: italic" i18n="@@app-welcome-page.hard-mode-desc"
                >A challenging difficulty where you have a limited number of crops.</span
            >
        } @else if (difficultySelect.value! == "brutal") {
            <span style="color: darkred; font-style: italic" i18n="@@app-welcome-page.brutal-mode-desc"
                >Hard mode, but manually-planted crops do not yield anything when harvested. Only for the insane.</span
            >
        }
        <br />
        <br />
        <button (click)="newGame()" i18n="@@app-welcome-page.new-game">New Game</button>
        <br />
        <input type="checkbox" [formControl]="customGameDataOption" (change)="importGameData()" />
        <ng-container i18n="@@app-welcome-page.custom-gd">Use custom game data</ng-container>
        @if (customGameDataImportFailed) {
            <br />
            <span style="color: red" i18n="@@app-welcome-page.custom-game-data-import-failed"> Import failed. </span>
        }
        <br />
        <br />
        <button (click)="importGame()" i18n="@@app-welcome-page.import-game">Import Game</button>
        @if (gameImportFailed) {
            <br />
            <span style="color: red" i18n="@@app-welcome-page.game-import-failed"> Import failed. </span>
        }
    </div>
}
<div class="centering">
    <strong i18n="@@app-welcome-page.advanced-options">Advanced Options</strong>
    <br />
    <input type="checkbox" [formControl]="disablePersistenceOption" (change)="togglePersistence()" />
    <span style="color: red" i18n="@@app-welcome-page.disable-persistence">Disable Persistence</span>
</div>
