@if (manager.game != null) {
    <div class="box centering">
        @if (manager.game!.saveData.difficulty.limitResources && manager.game!.saveData.difficulty.lrExploitPatch) {
            <span style="color: darkred" i18n="@@app-game-page.brutal-mode-active">Brutal Mode Active</span>
            <br />
            <br />
        } @else if (manager.game!.saveData.difficulty.limitResources) {
            <span style="color: red" i18n="@@app-game-page.hard-mode-active">Hard Mode Active</span>
            <br />
            <br />
        }
        @if (!timerHidden) {
            {{ manager.timeElapsed | time }}
            <br />
            <button (click)="timerHidden = true" i18n="@@app-game-page.hide-timer">Hide Timer</button>
            <br />
            <br />
        }
        <button (click)="manager.saveGame()" i18n="@@app-game-page.save-game">Save Game</button>
        &nbsp;
        <button (click)="exportGame()" i18n="@@app-game-page.export-game">Export Game</button>
        <br />
        <ng-container i18n="@@app-game-page.save-game-desc">Game is automatically saved every minute.</ng-container>
        <br />
        <br />
        <button style="color: red" (click)="returnHome()" i18n="@@app-game-page.homepage">Return to Homepage</button>
    </div>
    <app-field></app-field>
    <app-seed-log></app-seed-log>
    @if (manager.game!.saveData.difficulty.limitResources) {
        <app-trophy-case></app-trophy-case>
    }
}
