@if (manager.game != null) {
    <div class="box centering">
        @if (!timerHidden) {
            {{ manager.timeElapsed | time }}
            <br />
            <button (click)="timerHidden = true" i18n="@@app-game-page.hide-timer">Hide Timer</button>
            <br />
            <br />
        }
        <button (click)="manager.saveGame()" i18n="@@app-game-page.save-game">Save Game</button>
        <br />
        <ng-container i18n="@@app-game-page.save-game-desc">Game is automatically save every 1 minute.</ng-container>
    </div>
    <app-field></app-field>
    <app-seed-log></app-seed-log>
    @if (manager.game!.saveData.hardMode) {
        <app-trophy-case></app-trophy-case>
    }
}
